{% extends "base.html" %} {% load bootstrap3 %} {% load static %}
<!-- title -->
{% block title %} {{user.username}} Dashboard {% endblock title %}

<!-- start body -->
{% block main_container %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">My Dashboard</h3>
    </div>
    <div class="card-body">
        <div class="jop-post-control col-4 pull-right">
            <div class="card-body">
                <a href="{% url 'company:new_job' %}" class="btn btn-info col-12">Post a New Job</a>
            </div>
        </div>
        <div class="appliers col-8">
            <ul class="list-group">

                <!-- check if is their any appliers-->
                {% if jobs %}
                <!-- display all jobs -->
                {% for job in jobs %}
                <!-- display job applications -->
                {% for user in job.applications.all %}
                <li class="list-group-item">
                    <img src="{{user.get_image}}" width="20" height="20">
                    <a href="#"> {{user}} </a> applied to {{job.title|title}}
                    <span class="pull-right time">{{job.date|timesince}} ago</span>
                </li>
                {% endfor %} {% endfor %}

                <!-- if not any ">-->
                {% else %}
                <img src="{% static 'images/no-applicants.png' %}"> {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock main_container %}
<!-- end body -->