{% extends "base.html" %} {% load bootstrap3 %}
<!-- title -->
{% block title %} New Job{% endblock title %}

<!-- start body -->
{% block main_container %}
<div class="signup-text col-lg-10 offset-1">
    {% if form.instance.id %}
    <h4>Update {{ form.instance.title }}</h4>
    {% else %}
    <h4>Create New Job</h4>
    {% endif %}
</div>
<div class="col-lg-10 offset-1 job">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form form %}
        {% if form.instance.id %}
        <input type="submit" value="Update Job" class="form-control btn btn-warning">        
        {% else %}
        <input type="submit" value="Create Job" class="form-control btn btn-warning">
        {% endif %}
    </form>
</div>
{% endblock main_container %}
<!-- end body -->