{% extends "base.html" %} {% load bootstrap3 %}
<!-- title -->
{% block title %} Login {% endblock title %}

<!-- start body -->
{% block main_container %}
<div class="d-flex justify-content-lg-center">
    <h4>Login For Your Account</h4>
</div>
<br>
<div class="d-flex justify-content-lg-center">
    <div class="card col-lg-7 col-12 col-md-12">
        <div class="card-body">
            <form method="post">
                {% csrf_token %} {% bootstrap_form form %}
                <input type="submit" value="log In" class="form-control btn btn-primary">
            </form>
            <br> Need an Account ?
            <a href="{% url 'accounts:signup_company' %}">Employer!</a> Or 
            <a href="{% url 'accounts:signup_job_seeker' %}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock main_container %}
<!-- end body -->