{% extends "base.html" %} {% load bootstrap3 %}
<!-- title -->
{% block title %} SignUp {% endblock title %}

<!-- start body -->
{% block main_container %}
<div class="signup-text col-lg-10 offset-1">
    <h4>Join Shaghalny to have the dream's job</h4>
</div>
<div class="col-lg-10 offset-1 signup">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form form %}
<input type="submit" value="SignUp" class="form-control btn-info">
    </form>
</div>
{% endblock main_container %}
<!-- end body -->