{% extends "base.html" %}

<!-- title -->
{% block title %} SHAGHLNY {% endblock title %}

<!-- start body -->
{% block main_container %}
<h3 class=" col-12 col-sm-12 col-lg-9">
    <i class="fa fa-rocket"></i>
    Explore New Career Opportunities
</h3>
<!-- display related jobs to the userprogile -->

{% for job in jobs %} {% if job not in saved_jobs or not user.is_authenticated%}
<div class="card  col-12 col-sm-12  related-jobs col-lg-9">
    <div class="card-body user-home">
        <img src="{{job.company.get_image}}" alt="company-image" class="pull-right" height="70" width="70">
        <h3>
            <a href="{% url 'jobs:job_details' slug=job.slug %}">{{job.title|title}}</a>
        </h3>
        <b>{{job.company.company_name|title}} - {{job.company.address|title}}</b>
        <p class="time">{{job.date|timesince}}
            <i class="fa fa-clock-o"></i>
        </p>

        <div class="safe-text">{{job.description|safe|truncatechars:'150'}}</div>
        <hr style="border:0.4px solid #ddd">
        <!-- show save feature to login users -->
        {% if user.is_authenticated %}

        <form action="{% url 'jobs:save_job' slug=job.slug %}" class="save_form" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-light pull-left user-btns">

                <i class="fa fa-bookmark-o save-heart"></i> Save </button>
        </form>
        <a href="#" class="btn pull-left user-btns">
            <i class="fa fa-share"></i> Share </a>
        {% else %}
        <small>
            <i>Login to enjoy save this job </i>
        </small>
        {% endif %}

    </div>
</div>
{% endif %} {% endfor %} {% endblock main_container %}

<!-- end body -->